WORKING_DIR=/workspace
SPLENT_APP=splent_marketplace_app
PYTHONPATH=/workspace/splent_marketplace_app/src
FLASK_APP=splent_marketplace_app:create_app

MARIADB_HOSTNAME=splent_marketplace_app_db_deploy
MARIADB_DATABASE=<SET>
MARIADB_USER=<SET>
MARIADB_PASSWORD=<SET>
MARIADB_ROOT_PASSWORD=<SET>

RUN_DB_SEED=false
