WORKING_DIR=/workspace
SPLENT_APP=splent_marketplace_app
PYTHONPATH=/workspace/splent_marketplace_app/src
FLASK_APP=splent_marketplace_app:create_app

MARIADB_HOSTNAME=splent_marketplace_app_db
MARIADB_DATABASE=splent_marketplace_app_db
MARIADB_TEST_DATABASE=splent_marketplace_app_db_test
MARIADB_USER=splent_marketplace_app_db_user
MARIADB_PASSWORD=splent_marketplace_app_db_password
MARIADB_ROOT_PASSWORD=splent_marketplace_app_db_root_password

RUN_DB_SEED=true
